<div class="background">
  <h1 align="center" class="h12">Welcome to Medical website</h1>
</div>

<div class="logoSetUp">
  <img style="margin-left: 1em;" class="float-left rounded" src="assets/logo.png" alt="LOGO" height="70px">
  <h5 class="float-left" style="color: white;font-size:20px;margin-left: 20px;margin-top: 20px;">{{companyName}}</h5>
</div>
<!-- MEUS -->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav nav-fill w-100">
    <li class="nav-item active dropdown"><a class="nav-link" data-toggle="dropdown">{{menus[0]}}</a>
      <div class="dropdown-menu">
        <a class="dropdown-item">Test</a>
        <a class="dropdown-item">Test</a>
        <a class="dropdown-item">Test</a>
      </div>
    </li>
    <li class="nav-item btn-group dropdown"><a class="nav-link" data-toggle="dropdown">{{menus[1]}}</a>
      <div class="dropdown-menu">
        <a class="dropdown-item">Testh</a>
        <a class="dropdown-item">Testh</a>
        <a class="dropdown-item">Testh</a>
      </div>
    </li>
    <li class="nav-item btn-group dropdown"><a class="nav-link" data-toggle="dropdown">{{menus[2]}}</a>
      <div class="dropdown-menu">
        <a class="dropdown-item">Test1</a>
        <a class="dropdown-item">Test1</a>
        <a class="dropdown-item">Test1</a>
      </div>
    </li>
    <li class="nav-item btn-group dropdown"><a class="nav-link" data-toggle="dropdown">{{menus[3]}}</a>
      <div class="dropdown-menu">
        <a class="dropdown-item">Test2</a>
        <a class="dropdown-item">Test2</a>
        <a class="dropdown-item">Test2</a>
      </div>
    </li>
    <li class="nav-item btn-group dropdown"><a class="nav-link" data-toggle="dropdown">{{menus[4]}}</a>
      <div class="dropdown-menu">
        <a class="dropdown-item">Test3</a>
        <a class="dropdown-item">Test3</a>
        <a class="dropdown-item">Test3</a>
      </div>
    </li>
    <li class="nav-item btn-group dropdown"><a class="nav-link" data-toggle="dropdown">{{menus[5]}}</a>
      <div class="dropdown-menu">
        <a class="dropdown-item">Test4</a>
        <a class="dropdown-item">Test4</a>
        <a class="dropdown-item">Test4</a>
      </div>
    </li>
    <li class="nav-item btn-group dropdown"><a class="nav-link" data-toggle="dropdown">{{menus[6]}}</a>
      <div class="dropdown-menu">
        <a class="dropdown-item">Test5</a>
        <a class="dropdown-item">Test5</a>
        <a class="dropdown-item">Test5</a>
      </div>
    </li>
    <li class="nav-item btn-group dropdown"><a class="nav-link" data-toggle="dropdown">{{menus[7]}}</a>
      <div class="dropdown-menu">
        <a class="dropdown-item">Test6</a>
        <a class="dropdown-item">Test6</a>
        <a class="dropdown-item">Test6</a>
      </div>
    </li>
  </ul>
</nav>
<!-- End Menus -->

<div class="imagesBg"></div>

<div class="row" style="margin-left: 80px;margin-top: 50px;">
  <div class="col-6">
    <h3 class="font-weight-bold text-primary">WELCOME TO {{companyName | uppercase}}</h3> <br />
    <h4 style="color:slategray">PHARMACEUTICAL FORMULATIONS MANUFACTURERS</h4> <br />
    <h5 style="font-family: 'Times New Roman';font-style:italic;color:slategray">GLOBELA PHARMA PVT LTD. is an
      established ISO, FDCA – INDIA, WHO cGMP , accredited pharmaceutical formulation manufacturing company. We are
      experienced manufacturer for high quality semi-finished & finished dosages formulation (FDF).</h5>
      <br/><br/><br/>
      <button class="btn btn-primary" align="center" style="height: 50px; width:200px;">Read More</button>
  </div>
  <div style="margin-left: 30px;"></div><br />

  <div class="row col">
    <div class="col-4" align="center">
      <div class="shadow p-3 mb-5 bg-white rounded">
        <img src="assets/capsule1.jpg" alt="capsule1" width="50px" height="50px"><br /><br />
        <h5 style="font-size: 20px;">Dedicated manufacturing facilities for oncology products(Anti-Cancer)</h5>
      </div>
    </div>
    <div style="margin-left: 40px;"></div><br />
    <div class="col-4" align="center">
      <div class="shadow p-3 mb-5 bg-white rounded">
        <img src="assets/capsule3.jpg" alt="capsule1" width="50px" height="50px"><br /><br />
        <h5 style="font-size: 20px;">Dedicated manufacturing facilities for oncology products(Anti-Cancer)</h5>
      </div>
      <div style="margin-left: 20px;"></div>
    </div>
    <div class="row">
      <div class="col-4" style="margin-left:7.5em;" align="center">
        <div class="shadow p-3 mb-5 bg-white rounded">
          <img src="assets/capsule2.jpg" alt="capsule1" width="50px" height="50px"><br /><br />
          <h5 style="font-size: 20px;">Dedicated manufacturing facilities for oncology products(Anti-Cancer)</h5>
        </div>
      </div>
    </div>
  </div>