<div class="background">
  <h1 align="center" class="h12">Welcome to Medical website</h1>
</div>

<div class="logoSetUp">
 <img style="margin-left: 1em;" class="float-left rounded" src="assets/logo.png" alt="LOGO" height="70px" >
  <h5 class = "float-left" style="color: white;font-size:20px;margin-left: 20px;margin-top: 20px;">Ashirwad shipping and logistics pvt ltd</h5>
</div>

  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav nav-fill w-100">
      <li class="nav-item active"><a class="nav-link" data-toggle="dropdown">{{menus[0]}}</a>
        <div class="dropdown-menu">
          <a class="dropdown-item">Test</a>
          <a class="dropdown-item">Test</a>
          <a class="dropdown-item">Test</a>
        </div>
        </li>
      <li class="nav-item btn-group"><a class="nav-link" data-toggle="dropdown">{{menus[1]}}</a>
      <div class="dropdown-menu">
        <a class="dropdown-item">Testh</a>
        <a class="dropdown-item">Testh</a>
        <a class="dropdown-item">Testh</a>
      </div>
      </li>
      <li class="nav-item btn-group"><a class="nav-link" data-toggle="dropdown">{{menus[2]}}</a>
        <div class="dropdown-menu">
          <a class="dropdown-item">Test1</a>
          <a class="dropdown-item">Test1</a>
          <a class="dropdown-item">Test1</a>
        </div></li>
      <li class="nav-item btn-group"><a class="nav-link" data-toggle="dropdown">{{menus[3]}}</a>
        <div class="dropdown-menu">
          <a class="dropdown-item">Test2</a>
          <a class="dropdown-item">Test2</a>
          <a class="dropdown-item">Test2</a>
        </div></li>
      <li class="nav-item btn-group"><a class="nav-link" data-toggle="dropdown">{{menus[4]}}</a>
        <div class="dropdown-menu">
          <a class="dropdown-item">Test3</a>
          <a class="dropdown-item">Test3</a>
          <a class="dropdown-item">Test3</a>
        </div></li>
      <li class="nav-item btn-group"><a class="nav-link" data-toggle="dropdown">{{menus[5]}}</a>
        <div class="dropdown-menu">
          <a class="dropdown-item">Test4</a>
          <a class="dropdown-item">Test4</a>
          <a class="dropdown-item">Test4</a>
        </div></li>
      <li class="nav-item btn-group"><a class="nav-link" data-toggle="dropdown">{{menus[6]}}</a>
        <div class="dropdown-menu">
          <a class="dropdown-item">Test5</a>
          <a class="dropdown-item">Test5</a>
          <a class="dropdown-item">Test5</a>
        </div></li>
      <li class="nav-item btn-group"><a class="nav-link" data-toggle="dropdown">{{menus[7]}}</a>
        <div class="dropdown-menu">
          <a class="dropdown-item">Test6</a>
          <a class="dropdown-item">Test6</a>
          <a class="dropdown-item">Test6</a>
        </div></li>
    </ul>
  </nav>

<div class="imagesBg">

</div>